.NavBar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.NavBar > ul{
    display: flex;
}
.NavBar > ul > li{
    padding:  10px;
    list-style-type: none;
}

.ProductCart
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Product{
    width: 200px;
    border: 2px solid black;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    
     
}

.image{
    width: 200px;
    justify-content: space-between;
    display: flex; 
}


.Skleton{
    display:  flex;
    justify-content: space-between  ;
    flex-wrap: wrap;
}

.Skeleton-cart{

    width: 200px;
    height: 400px  ;  
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: #f0f0f0f0;
    text-align: center;
    

}